certifi==2024.8.30
charset-normalizer==3.4.0
docker==7.1.0
idna==3.10
psutil==6.0.0
psycopg2-binary==2.9.9
requests==2.32.3
SQLAlchemy==2.0.35
testcontainers==4.8.2
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
